.App{
  height: 100%;
}

.content {
  height: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 10px 0;
}
.content>*{
  border: 2px solid black;
}
.content>:first-child {
  border-right: 0;
  padding-top: 10px;
}
